@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Sans";
  src: url("fonts/FiraSans.ttf") format("truetype");
}

$body-bg: #f9f9f9;
$font-size-base: 0.875rem;
$font-family-base: "Source Sans Pro", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$grid-gutter-width: 10px;
$modal-backdrop-opacity: 0.9;
$border-radius: 3px;

$input-focus-border-color: #ced4da;
