@import "variables";
@import "ember-bootstrap/bootstrap";

@import "common/header";

body {
  padding-top: 60px;
}

input, button,
textarea, select,
.btn, .form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.form-control + .invalid-feedback {
  display: block;
}
